:root {
  --text: #6b6375;
  --text-h: #121212;
  --bg: #fafafa;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

button{
  background-color: #1E88E5;
  width: 328px;
  height: 58px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  font-weight: 600;
}


#app {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.bg-normal { background-color:  #C6C5A6 }
.bg-fighting { background-color:  #E06D68 }
.bg-flying { background-color:  #C6B5F7 }
.bg-poison { background-color:  #C278C0 }
.bg-ground { background-color:  #EED594 }
.bg-rock { background-color:  #D1C06A }
.bg-bug { background-color:  #C5D453 }
.bg-ghost { background-color:  #9B84B8 }
.bg-steel { background-color:  #D0D0E1 }
.bg-fire { background-color:  #F4A66E }
.bg-water { background-color:  #92B3F5 }
.bg-grass { background-color:  #8BC34A80 }
.bg-electric { background-color:  #F9A3E3 }
.bg-psychic { background-color:  #FA87A9 }
.bg-ice { background-color:  #BAE7E5 }
.bg-dragon { background-color:  #9A72FD }
.bg-dark { background-color:  #998170 }
.bg-fairy { background-color:  #E2A8C5 }
.bg-stellar { background-color:  #7ECBC0 }
.bg-unknown { background-color:  #91BCB0 }


.bg-normal-dark { background-color:  #A8A77A }
.bg-fighting-dark { background-color:  #C22E28 }
.bg-flying-dark { background-color:  #A98FF3 }
.bg-poison-dark { background-color:  #A33EA1 }
.bg-ground-dark { background-color:  #E2BF65 }
.bg-rock-dark { background-color:  #B6A136 }
.bg-bug-dark { background-color:  #A6B91A }
.bg-ghost-dark { background-color:  #735797 }
.bg-steel-dark { background-color:  #B7B7CE }
.bg-fire-dark { background-color:  #EE8130 }
.bg-water-dark { background-color:  #6390F0 }
.bg-grass-dark { background-color:  #8BC34A }
.bg-electric-dark { background-color:  #F7D02C }
.bg-psychic-dark { background-color:  #F95587 }
.bg-ice-dark { background-color:  #96D9D6 }
.bg-dragon-dark { background-color:  #6F35FC }
.bg-dark-dark { background-color:  #705746 }
.bg-fairy-dark { background-color:  #D685AD }
.bg-stellar-dark { background-color:  #40B5A5 }
.bg-unknown-dark { background-color:  #68A090 }